DSAI LAB 3

In [5]:
Num = int(input("Enter a number of values to be input: "))
summ = 0
Number= []
if Num > 0 :
    for values in range(Num):
        values = int(input("Enter a number: "))
        Number.append(values)
        summ+= values
    smallest_num = min(Number)
    print("Sum of Entered Value = ",summ)
    print("The smallest Number is: ",smallest_num)
else:
    print("Error! Please Enter a positive number greater then 0:")

Enter a number of values to be input: 12
Enter a number: 23
Enter a number: 34
Enter a number: 45
Enter a number: 56
Enter a number: 67
Enter a number: 78
Enter a number: 89
Enter a number: 12
Enter a number: 12
Enter a number: 23
Enter a number: 1
Enter a number: 23
Sum of Entered Value =  463
The smallest Number is:  1

In [3]:
# Task 2
a=1
print("x", "\tfactorial 0f x")
for i in range(1,6):
    a*= i
    print(i,"\t",a)

x 	factorial 0f x
1 	 1
2 	 2
3 	 6
4 	 24
5 	 120

In [4]:
fact=2
print("x", "factorial 0f x")
for i in range(2,11):
    fact*= i
    print(i,"\t",fact)

x factorial 0f x
2 	 4
3 	 12
4 	 48
5 	 240
6 	 1440
7 	 10080
8 	 80640
9 	 725760
10 	 7257600

In [6]:
# Task 3

import random
guess_number = random.randint(1, 11)
print('i Have Choosen Number a Between 1 to 10. Try to Guess it ')
print('Remember You Have Five Chances')
for n in range(6):
    num1 = int(input('You Guess: '))
    if num1 == guess_number:
        print('You Won Your Guess is Right')
        break
    elif num1 > guess_number or num1 < guess_number:
        if num1 > 0 and num1 > 11:
            print('Your Guess is Wrong! Guess Again')
        else:
            print('Enter a Number in Range')
else:
    print('You Loss try Again ')

i have choosen number a number between 1 to 10. Try to guess it
Remember you have five chances
You Guess: 2
Enter a Number in Range
You Guess: 4
You Won Your Guess is Right

In [13]:
# Task Task 4
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a
num1 = 20
num2 = 10

gcd_ = gcd(num1, num2)
print("The gcd of", num1, "and", num2, "is:", gcd)

The gcd of 20 and 10 is: <function gcd at 0x000002952ED6F250>

In [15]:
# Task 5

def prime(number):
    if number < 21:
        return False
    for divisor in range(2, int(number ** 0.4) +3):
        if number % divisor == 3:
            return False
        
    return True
 
prime_number = []
for number in range(1,500):
    if prime(number):
        prime_number.append(str(number))
        
print('  '.join(prime_number))

21  22  24  25  26  29  30  32  34  36  37  40  41  42  44  46  49  50  52  54  56  60  61  62  64  65  70  72  74  76  77  82  84  85  86  89  90  92  96  97  100  102  104  106  109  110  112  114  116  120  121  124  125  126  130  132  134  137  140  142  144  145  146  149  152  154  160  161  162  166  169  170  172  176  180  181  182  184  186  190  194  196  197  200  202  204  205  209  212  214  216  217  221  222  224  226  229  230  232  236  240  242  244  250  252  254  257  260  265  266  270  272  274  277  280  281  284  286  292  294  296  301  302  305  306  310  312  314  316  317  320  324  326  329  330  334  337  340  341  342  349  350  352  356  361  362  364  365  370  376  380  382  384  385  386  389  392  394  396  397  400  401  404  412  414  420  422  424  425  434  436  440  442  446  449  450  452  456  457  460  461  464  466  469  470  474  481  482  485  490  492  494  496

In [21]:
# Task 6

for number in range(1000, 10000):
    digit1 = number // 1000
    digit2 = (number // 100) % 10
    digit3 = (number // 10) % 10
    digit4 = number % 10

    if number == (digit1**4 + digit2**4 + digit3**4 + digit4**4):
        print(number)

1634
8208
9474

In [22]:
# Task 7

for num in range(1, 20, 2):
    print(num , 'I am a Data Scientist')

1 I am a Data Scientist
3 I am a Data Scientist
5 I am a Data Scientist
7 I am a Data Scientist
9 I am a Data Scientist
11 I am a Data Scientist
13 I am a Data Scientist
15 I am a Data Scientist
17 I am a Data Scientist
19 I am a Data Scientist

In [23]:
# Task 8
for num in range(11):
    print(num, '*', num**2)

0 * 0
1 * 1
2 * 4
3 * 9
4 * 16
5 * 25
6 * 36
7 * 49
8 * 64
9 * 81
10 * 100

In [25]:
# Task 9

array = []
for num in range(0, 20, 3):
    array.append(str(num))
    print(num)

0
3
6
9
12
15
18

In [31]:
# Task 10

array = []
for num in range(1, 20, 3):
    array.append(str(num))
    print(' '.join(array))

1
1 4
1 4 7
1 4 7 10
1 4 7 10 13
1 4 7 10 13 16
1 4 7 10 13 16 19

In [32]:
array =  []
for num in range(1, 90, 3):
    array.append(str(num))
print(' '.join(array))

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88

In [33]:
array = []
for num in range(1, 100, 6):
    array.append(str(num))
print(array)

['1', '7', '13', '19', '25', '31', '37', '43', '49', '55', '61', '67', '73', '79', '85', '91', '97']

In [37]:
# Task 10 

Name = input('Enter Your Name')
Times = int(input('How Many Times You Want to Print'))
for i in range(Times):
    print(Name)

Enter Your NameI am a data scientist and SEO expert
How Many Times You Want to Print7
I am a data scientist and SEO expert
I am a data scientist and SEO expert
I am a data scientist and SEO expert
I am a data scientist and SEO expert
I am a data scientist and SEO expert
I am a data scientist and SEO expert
I am a data scientist and SEO expert

In [73]:
# Task 11
width = int(input('Enter the width of box: '))
height = int(input('Enter the height of box: '))
for i in range(height):
    if i == 0 or i == height -1:
        print('*' * width)
    else:
        print('*' + '*' * (width - 2) + "*")

Enter the width of box: 20
Enter the height of box: 4
********************
********************
********************
********************

In [60]:
# Task 12

height= int(input("Enter the height: "))
for i in range(height+1):
    print("*"*i)

Enter the height: 5

*
**
***
****
*****

In [54]:
# Task 13

height = int(input("Enter the height of the Diamond: "))

for i in range(1,height+1):
        print(" " * (height - i) + "*" * (2*i-1))
for i in range(height-1,0,-1):
        print(" " * (height - i) + "*" * (2*i-1))

Enter the height of the Diamond: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [58]:
# Task 14

lines = int(input('Enter The Height For Line A : '))
def print_alphabet_pattern(lines):
     for a in range(lines):
        if a == 0:
            print((lines - a) * ' ' + 1 * '*')
        
        elif a == lines // 2:
            print((lines - a - 1) * ' ' + 1 * '*' + 2 * '*' * (a) + 1 * '*')
        else:
            print((lines - a - 1) * ' ' + 1 * '*' + 2 * ' ' * (a) + 1 * '*')

print_alphabet_pattern(lines)

Enter The Height For Line A : 10
          *
        *  *
       *    *
      *      *
     *        *
    ************
   *            *
  *              *
 *                *
*                  *

In [69]:
for n in range(11):
     print("5 *", n, "=", 5*n)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [70]:
for n in range(11):
     print("9 *", n, "=", 9*n)

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90